@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($horizontal, $vertical, $spread, $blur, $r, $g, $b, $a) {
  -webkit-box-shadow: $horizontal $vertical $spread $blur rgba($r,$g,$b,$a);
  -moz-box-shadow: $horizontal $vertical $spread $blur rgba($r,$g,$b,$a);
  box-shadow: $horizontal $vertical $spread $blur rgba($r,$g,$b,$a);
}